src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="hotelsSOAP" service="hotels" wsdlLocation="hotels.wsdl"/>
    <flow name="api-main">
        <http:listener path="/hotels/hotelsSOAP" config-ref="api-httpListenerConfig">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:message>#[payload]</apikit-soap:message>
            <apikit-soap:attributes>#[
              %dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]</apikit-soap:attributes>
        </apikit-soap:router>
    </flow>
    <flow name="getHotels:\soapkit-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
ns ns0 http://www.tajhotels.com/hotels/
---
{
	location: payload.body.ns0#getHotels.location
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="getHotelsByLocation" doc:id="848eb2ac-0e6b-4123-b461-b4a0a57a34eb" name="getHotelsByLocation"/>
    </flow>
    <flow name="bookHotel:\soapkit-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
ns soap http://schemas.xmlsoap.org/soap/envelope
ns ns0 http://www.tajhotels.com/hotels/
---
{
    hotelName: payload.body.ns0#bookHotel.hotelName default "",
    location: payload.body.ns0#bookHotel.location default "",
    noOfRooms: payload.body.ns0#bookHotel.noOfRooms default 0,
    roomType: payload.body.ns0#bookHotel.roomType default "",
    price: payload.body.ns0#bookHotel.price default 0,
    noOfPeople: payload.body.ns0#bookHotel.noOfPeople default 0,
    checkIn: payload.body.ns0#bookHotel.checkIn default "",
    checkOut: payload.body.ns0#bookHotel.checkOut default "",
    hotelID: payload.body.ns0#bookHotel.hotelID default 0,
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="bookHotel" doc:id="6d850dc9-6947-4e6d-a767-b627e6ac73fc" name="bookHotel"/>
    </flow>
</mule>
